* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding-top: 40px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.15);
}


.cursor {
  cursor: pointer;
}

.header__container {
  background-color: #1677ff;
  box-sizing: border-box;
  display: flex;
  min-height: 40px;
  max-height: 40px;
  padding: 4px;
  display: flex;
  position: fixed;
  width: 100%;
}

.header__logo {
  background: url('./assets/images/logo.png') no-repeat 100% 0 / cover;
  height: 30px;
  width: 80px;
  opacity: 0.5;
  display: block;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}

.header__right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.header__avatar {
  width: 32px;
  height: 32px;
}

.header__avatar img {
  vertical-align: middle;
  width: 100%;
  border-radius: 50%;
}

.bx--text-area {
  padding: 10px 7px;
}

.container {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  white-space: nowrap;
  height: 100%;
  padding: 8px 15px 0 15px;
}

.cardList {
  border-radius: 3px;
  min-width: 320px;
  max-width: 300px;
  max-height: 100%;
  padding: 5px;
  margin: 0 12px 0 0;
  display: flex;
  flex-direction: column;
  word-break: break-all;
  min-height: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 0;
}

.cardList .ant-card-body {
  padding: 12px
}

.cardItem + .cardItem {
  margin-top: 12px;
}

.cardItem .ant-card-cover img{
  width: 100%;
  height: 160px;
}

.avatarGroup {
  display: flex;
  justify-content: flex-end;
}

.ml-10 {
  margin-left: 10px;
}

.selectField span {
  display: inline-block;
  margin-left: 8px;
}

.selectField .ant-avatar {
  margin-left: 0;
}